* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #00204d;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

.clear-fix {
    zoom: 1;
}

.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*****************************/

.row {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 80px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.5)));
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5))

}

.box {
    padding: 1%;
}


/*****************************/

h1, h2, h3 {
    margin: 0;
    color: #fff;
    word-spacing: 3px;
    font-weight: 300;
}

h1 {
    font-size: 220%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}

h2:after { /* the line under H2 */
    left: 45%;
    display: block;
    position: absolute;
    width: 10%;
    height: 2px;
    margin-top: 10px;
    content: " ";
    background: red;
}

/*
h2:after {
    content: '';
    width: 120px;
    height: 2px;
    text-align: center;
    background: red;
    position: absolute;
    margin: 0 auto;
    margin-top: 45px;
  
}
*/

h3 {
    font-size: 110%;
    margin-bottom: 20px;
}

.box p {
    font-size: 90%;
    line-height: 140%;
}


.about {
    line-height: 130%;
    width: 70%;
    margin-left: 15%;
}


/**********Icons**************/

.icons {
    font-size: 300%;
    color: #75aaa5;
    display: block;
    margin-bottom: 10px;
    margin-left: 18%;
}


/**********Buttons**************/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    border: 1px solid #004144;
    margin-top: 10px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #649994;
    color: #dafffc;
}

.btn-ghost:link,
.btn-ghost:visited {
    font-weight: 100;
    color: #649994;
}

.btn:hover,
.btn:active {
    background-color: #054343;
    color: #93bab7;
    -webkit-transition: background-color 0.3s, color .3s;
    transition: background-color 0.3s, color .3s;
}

/**********Headers**************/

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.8))), url(img/bg1.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/bg1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.hero-text-box {
    position: absolute;
    width: 1130px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.logo {
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px 0 30px 5px;
}

.first-age-nav {
    float: right;
    list-style: none;
}

.first-age-nav li {
    display: inline-block;
    margin-left: 30px;
    margin-top: 25px;
}

.first-age-nav li a:link,
.first-age-nav li a:visited {
    padding: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid rgba(100, 153, 148, 0);
}

.first-age-nav li a:hover,
.first-age-nav li a:active {
    border-bottom: 2px solid #649994;
    color: #82b1ac;
    -webkit-transition: border-bottom, .3s;
    transition: border-bottom, .3s;
}


/*******images************/
.section-2 {
    padding: 0;

}

.phones {
    list-style: none;
    width: 100%;
}

.phones li {
    display: block;
    float: left;
    width: 25%;

}

.phone-img {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.phone-img img {
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

.phone-img img:hover {
    opacity: 1;
    background-color: transparent;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: opacity .6s, -webkit-transform .6s;
    transition: opacity .6s, -webkit-transform .6s;
    transition: transform .6s, opacity .6s;
    transition: transform .6s, opacity .6s, -webkit-transform .6s;
    /*    transition:opacity .6s;*/
}


/*************
Section-3
***/

.section-3-box {
    margin-top: 30px;
}

.section-3-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.section-3-box:last-child {
    padding-left: 3%;
    margin-top: 50px;
}

.app-screen {width: 60%;}

.explain {
    margin-bottom: 30px;
}

.explain div {
    color: #649994;
    border: 2px solid #649994;
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 120%;
    padding: 3px;
    float: left;
    margin-right: 15px;
    line-height: 120%;
    margin-top: -8px;
    vertical-align: middle;
}


/*************
Section-4
***/

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 140%;
}

cite {
    font-size: 85%;
    margin-top: 20px;
    display: block;
}

cite img {
    width: 50px;;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/*************
Section-5
***/


.plan-box {
    background-color: aliceblue;
    border-radius: 10px;
    width: 100%;
    margin-left: 10%;
    color: #004144;
    padding: 10px;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-shadow: 0 2px 2px #000000;
    box-shadow: 0 2px 2px #000000;

}

.plan-box h3 {
    color: #045155;
    border-bottom: #045155;
}

.plan-box div {
    padding: 5px;
    margin: 0 15px;
    border-bottom: 1px solid #045155;
}

.plan-box div:last-child {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid transparent;
}

.p-plan {
    font-size: 150%;
    margin-bottom: 10px;
    font-weight: 200;
    width: 100%;
    color: #00204d;
}

.p-plan-object {

}

.plan-box ul {
    list-style: none;

}

.plan-box ul li {
    padding: 5px 0;
}

.checkmark { /*todo change icon */
    color: #00204d;
    margin-top: -8px;
    vertical-align: middle;
    padding: 10px;
}

/*************
footer
***/

footer {
    background-color: #000000;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited{
    margin-right: 0;
    text-decoration: none;
    border: 0;
    font-size: 90%;
    color: #0a595d;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #83cdd1;
    -webkit-transition: color .2s;
    transition: color .2s;
}

footer p {
    color: #0a595d;
    font-size: 80%;
    text-align: center;
    margin-bottom: 20px;
}

.logo-facebook,
.logo-twitter,
.logo-googleplus,
.logo-instagram {
    color: #0a595d;
    font-size: 120%;
    -webkit-transition: color .2s;
    transition: color .2s;
}

.logo-facebook:active,
.logo-facebook:hover {
    color: #3b5998;
}

.logo-twitter:active,
.logo-twitter:hover {
    color: #55acee;
}

.logo-googleplus:active,
.logo-googleplus:hover {
    color: #dd4b39;
}

.logo-instagram:active,
.logo-instagram:hover {
    color: #c32aa3;

}
