* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #00204d;
    color: #ffffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/*****************************/

.row {
    max-width: 1130px;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding: 80px 0 ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.5))
    
}

.box{
    padding: 1%;
}


/*****************************/

h1,h2,h3 {
    margin: 0;
    color: #fff;
    word-spacing: 3px;
    font-weight: 300;
}

h1{
    font-size: 220%;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
}
h3{
    font-size: 110%; 
    margin-bottom: 20px;
}
.box p {
    font-size: 90%;
    line-height: 140%;
}
/*
h2:after {
  content: '';
  width: 120px;
  height: 2px;
  background: red;
  position: absolute;
  margin: 0 auto;
  margin-top: 45px;
  
}
*/


.about{
    line-height: 130%;
    width: 70%;
    margin-left: 15%;
}



/**********Icons**************/

.icons{
    font-size: 300%;
    color: #75aaa5;
    display: block;
    margin-bottom: 10px;
    margin-left: 18%;
}


/**********Buttons**************/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    text-decoration: none;
    border: 1px solid #004144;
    margin-top: 10px;
}

.btn-full:link,
.btn-full:visited {
    background-color: #649994;
    color: #dafffc;
}

.btn-ghost:link,
.btn-ghost:visited {
    font-weight: 100;
    color: #649994;
}

.btn:hover,
.btn:active {
    background-color: #054343;
    color: #93bab7;
    transition: background-color 0.3s, color .3s;
}

/**********Headers**************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(img/bg1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


.hero-text-box {
    position: absolute;
    width: 1130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.logo {
    height: 100px;
    width: 100px;
    float: left;
    margin: 15px 0 30px 5px;
}

.first-age-nav {
    float: right;
    list-style: none;
}
.first-age-nav li {
    display: inline-block; 
    margin-left: 30px;
    margin-top: 25px;
}
.first-age-nav li a:link,
.first-age-nav li a:visited{
    padding: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid rgba(100, 153, 148, 0);
}

.first-age-nav li a:hover,
.first-age-nav li a:active{
    border-bottom: 2px solid #649994;
    color: #82b1ac;
    transition: border-bottom , .3s ;
}




/*******images************/
.section-2{
    padding: 0;
    
}

.phones{
    list-style: none;
    width: 100%;
}
.phones li{
    display: block;
    float: left;
    width: 25%;
    
}
.phone-img{
    width: 100%;
    margin: 0;
    overflow: hidden;
}
.phone-img img{
    opacity: 0.8;
    background-color: black;
    width: 100%;
    height: auto;
    transform: scale(1.15);    
}
.phone-img img:hover{
    opacity: 1;
    background-color: transparent;
    transform: scale(1.05);
    transition:transform .6s,opacity .6s;
/*    transition:opacity .6s;*/
}